
@font-face {
    font-family: 'rubikregular';
    src: url('font/rubik-regular-webfont.woff2') format('woff2'),
         url('font/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

#principal{
    display: block;
    width: 50%;
    margin: 5% auto;
    padding: 15px;
    text-align: center;

    border: 29px solid;

     font: bold 100% "rubikregular", verdana, sans-serif;
    text-shadow: rgba(0,0,150,.5) 3px 3px 5px;

    -moz-border-image: url('img/FrameColor.svg') 29 stretch;
    -webkit-border-image: url('img/FrameColor.svg') 29 stretch;
    border-image: url('img/FrameColor.svg') 29 stretch;

}


#menu{
    width: 100%;
    background: #ea6767;
}
/*
#text {
    text-align: left;
}
*/
#menu li {
    display: inline-block;
    list-style: none;
    padding: 1% 2%;
    text-align: right;


    font: bold 100% "rubikregular", verdana, sans-serif;
    -moz-transition: box-shadow 1s easy-in-out 0.5s;
    -webkit-transition: text-shadow 1s easy-in-out 0.5s;

}

#menu li:hover{
    background: #dddddd;
}

