*{
        font: bold 36px "rubikregular", verdana, sans-serif;
}

ody{
    text-align: center;
}

#principal{
    display: block;
    width: 50%;
    margin: 50px auto;
    padding: 15px;
    text-align: center;

    border: 29px solid;

    -moz-border-image: url('img/FrameColor.svg') 29 stretch;
    -webkit-border-image: url('img/FrameColor.svg') 29 stretch;
    border-image: url('img/FrameColor.svg') 29 stretch;

}

#titulo{
    text-shadow: rgba(0,0,150,.5) 3px 3px 5px;
}


@font-face {
    font-family: 'rubikregular';
    src: url('font/rubik-regular-webfont.woff2') format('woff2'),
         url('font/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#menu{
    padding: 5px 15px;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    width: 20%;
    text-align: center;
    border: 5px solid #000000;
    font: bold 20px "rubikregular", verdana, sans-serif;
    text-shadow: rgba(0,0,150,.5) 3px 3px 5px;
    -moz-transition: -moz-transform 1s easy-in-out 0.5s;
    -webkit-transition: -moz-transform 1s easy-in-out 0.5s;
}

#menu li:hover{
    background: #DDDDDD;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

