/* Aplica a todo */
*{
    margin: 0;
}

/* Aplica sólo a 'p' */
p{
    font-size: 20px;
}

/* Aplica sólo a 'parrafo1' */
p#parrafo1{
    color: red;
}


/* Aplica sólo a 'parrafo2' */
p#parrafo2{
    color: blue;
}

/* Crea una clase que se llama parrafo3 */
p.parrafo3{
    color: orange;
}

/*

La p adelante se puede poner o no, hace referencia a que aplica a todas las etiquetas o sólo a las p

*/

/*Aplica a los que tienen name=parrafo4 */
p[name="parrafo4"]{
    color: green;
}

/* Aplica a los p que son hijos en 3ra posición */
p:nth-child(3){
    background: #999999;
}

/* Aplica a los p que tienen posición impar */
p:nth-child(odd){
    font-weight: bold;
}

/* Aplica a los p que tienen posición par */
p:nth-child(even){
    font-style: italic;
}
